* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SpaceGroteskBold;
  src: url(../fonts/SpaceGrotesk-Bold.ttf);
}

@font-face {
  font-family: SpaceGrotesk;
  src: url(../fonts/SpaceGrotesk-Regular.ttf);
}

.container {
  width: 70%;
  margin: 80px 15%;
}

/* các box */
.box {
  width: 320px;
  height: 250px;
  padding: 20px;
  border: 1px solid rgba(209, 209, 209, 0.542);
  margin: 10px;
  position: relative;
  display: inline-block;
}

.box-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 320px;
  height: 250px;
  position: absolute;
  top: -1px;
  left: -1px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.box-color {
  background-color: rgba(168, 120, 58, 0.614);
  width: 320px;
  height: 250px;
  position: absolute;
  top: -1px;
  left: -1px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.box-border {
  width: 300px;
  height: 230px;
  border: 1px solid #ffffff9a;
  margin: 10px;
  position: absolute;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.box-sub {
  width: 320px;
  height: 250px;
  position: absolute;
  top: -1px;
  left: -1px;
  transition: all 1s ease-in-out;
}

/* các element trong box */

.ic-house {
  color: rgba(168, 120, 58, 0.863);
  font-size: 35px;
  padding: 20px 25px 25px;
  margin-top: 20px;
  display: inline-block;
  transition: all 0.1s ease-in 0.5s;
}

.title-house {
  font-family: SpaceGroteskBold;
  padding: 0px 25px;
}

.para-house {
  color: rgb(85, 85, 85);
  font-family: SpaceGrotesk;
  font-size: 14px;
  padding: 7px 25px;
  transition: all 1s ease-in-out;
}

.learn-more-btn {
  color: #fff;
  text-decoration: none;
  font-family: SpaceGrotesk;
  font-weight: bold;
  padding: 10px 25px;
  position: relative;
  top: 30px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.ic-right {
  font-size: 10px;
  color: #fff;
  padding: 5px 6px 3px;
  margin-left: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

/* hover */

.box:hover .box-img,
.box:hover .box-color,
.box:hover .box-border,
.box:hover .box-sub .learn-more-btn {
  opacity: 1;
}

.box:hover .box-sub,
.box:hover .para-house {
  color: #fff;
}

.learn-more-btn:hover .ic-right {
  color: black;
  background-color: #fff;
}

.box:hover .box-sub {
  top: -70px;
}

.box:hover .box-sub .ic-house {
  opacity: 0;
}
