body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.information {
  width: 100%;
  height: 600px;
  padding: 10px;
}

.ques {
  margin-bottom: 10px;
}

.box {
  color: #fff;
  background-color: #d95925;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

.icon-open {
  padding: 10px;
}

.icon-close {
  padding: 10px;
  display: none;
}

.answer {
  display: none;
  font-size: 15px;
  padding-left: 15px;
}

input[id="question-1"]:checked ~ .answer,
input[id="question-2"]:checked ~ .answer,
input[id="question-3"]:checked ~ .answer {
  display: inline-block;
}

input[id="question-1"]:checked ~ label .icon-open,
input[id="question-2"]:checked ~ label .icon-open,
input[id="question-3"]:checked ~ label .icon-open {
  display: none;
}

input[id="question-1"]:checked ~ label .icon-close,
input[id="question-2"]:checked ~ label .icon-close,
input[id="question-3"]:checked ~ label .icon-close {
  display: inline;
}
