* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: poppins;
  src: url(./font/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppinsex;
  src: url(./font/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: poppinlight;
  src: url(./font/Poppins-Light.ttf);
}
body {
  font-family: poppins;
}

/* header */
.header {
  padding: 53px 100px 0;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo {
  margin-right: 120px;
  padding-left: 12px;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
}

/* navigations */
.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.navigations {
  width: 297px;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  align-items: center;
}

.navigation {
  padding: 10px 0 17px;
  font-size: 14px;
}

.navigation a {
  color: #4d4d4d;
  text-decoration: none;
}

.navigation:nth-child(1) a {
  color: #f55253;
}

.navigation a:hover {
  color: #f55253;
}

/* search */
.search {
  font-size: 1.2rem;
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 8px;
  position: relative;
  top: -1px;
  left: -8px;
}

.ic-glass {
  font-weight: lighter;
  font-size: 0.9rem;
  line-height: 1.5;
  color: rgba(128, 128, 128, 0.771);
  position: absolute;
  top: 13px;
  left: 16px;
}

.ic-basket {
  color: #212329;
  font-size: 1.1rem;
  position: absolute;
  top: 8px;
  right: 24px;
}

.ic-basket::before {
  content: "";
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  margin-right: 16px;
}

.ic-basket::after {
  content: "2";
  color: #fff;
  background: #f54b4b;
  box-shadow: -6px 9px 24px -6px rgba(238, 67, 67, 0.68);
  font-family: poppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 12px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  right: -24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-family: poppinlight;
  font-size: 18px;
  width: 288px;
  height: 48px;
  padding: 10px 66px 14px 40px;
  border: none;
  border-radius: 8px;
  outline: 0;
}

::placeholder {
  color: #4d4d4d;
  font-family: poppins;
  font-size: 12px;
}

input[type="text"]:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* phần hidden */
.header label {
  font-size: 25px;
  width: 40px;
  height: 40px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 100px;
  z-index: 1;
  transition: all 0.3s ease;
  display: none;
}
/* container hidden */
.box-hidden {
  display: none;
}
.box-hidden .container-hidden {
  width: auto;
  height: 0;
  transition: all 0.3s ease;
}
.box-hidden .container-hiddens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  translate: -50% -80%;
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
}
.box-hidden .navigations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  z-index: -3;
}

input[id="bar"]:checked ~ .box-hidden .container-hidden {
  height: 330px;
}

input[id="bar"]:checked ~ .box-hidden .container-hiddens {
  opacity: 1;
  visibility: visible;
  translate: -50% -78%;
}

/* ---------- end header ---------- */

/* ---------- info-one ---------- */
.info-one {
  padding: 86px 100px 40px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

/* content */
.info-one .content {
  width: 50%;
  padding: 0 12px;
  text-align: left;
}

.info-one .content .content-top {
  width: fit-content;
  padding: 10px 17px;
  border-radius: 23px;
  margin-bottom: 20px;
  background-color: #fdecec;
  font-family: poppinlight;
  font-weight: 100;
  font-size: 13.5px;
  line-height: 1.3;
  word-spacing: 0.5px;
  color: #f55556;
  display: flex;
  align-items: center;
  justify-items: center;
}

.info-one .content .content-top span img {
  width: 26px;
  margin: 0 9px;
  display: inline-block;
}

.info-one .content .content-title {
  font-family: poppinsex;
  font-size: 36px;
  line-height: 88px;
}

.info-one .content .content-title h1 span {
  font-family: poppinlight;
  color: #f55556;
  line-height: 88px;
}

.info-one .content .content-para {
  font-family: poppinlight;
  font-weight: bold;
  color: #676767;
  margin: 20px 0;
}

.info-one .content .content-bot {
  margin: 50px 0 10px 0;
  display: flex;
}

.info-one .content .content-bot .btn-now {
  background-color: #f86061;
  width: 186px;
  padding: 25px 20px;
  border: 1px solid #f86061;
  border-radius: 12px;
  font-family: poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.info-one .content .content-bot .btn-now:hover {
  background-color: #fff;
}

.info-one .content .content-bot .btn-now a {
  color: #fffafa;
  text-decoration: none;
  transition: all 0.3s ease;
}

.info-one .content .content-bot .btn-now:hover a {
  color: #f86061;
}

.info-one .content .content-bot .btn-process {
  background-color: #fff;
  border: none;
  margin-left: 30px;
  font-family: poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.info-one .content .content-bot .btn-process:hover {
  color: #676767;
}

.info-one .content .content-bot .btn-process span img {
  background-color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
  box-shadow: 0 0 100px 1px rgba(218, 218, 218, 0.523);
}

/* image */
.info-one .image img {
  margin: 0 13px;
  width: 633px;
  display: block;
}

/* ---------- end info-one ---------- */

/* ---------- info-twos ---------- */
.info-two {
  background-color: #fef5f5;
  height: 788px;
  padding: 100px 0;
}

.info-two .heading {
  text-align: center;
}

.info-two .heading h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #f54748;
  margin: 0 0 8px 0;
  display: block;
}

.info-two .heading h2 {
  display: block;
  font-family: poppins;
  font-weight: bolder;
  font-size: 40px;
  line-height: 54px;
  color: #2e2e2e;
  max-width: 50%;
  margin: 0 auto 60px;
}

/* transport */

.transport {
  display: flex;
  justify-content: center;
  position: relative;
}

.transport div {
  background: #fff;
  width: 300px;
  height: 328px;
  padding: 40px 28px 50px;
  border-radius: 12px;
  margin: 20px 33px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

/* ship */
.ship,
.return,
.check {
  z-index: 10;
}

/* hiddens */

.ship-hidden {
  position: absolute;
  background-color: #f86061;
  top: 20px;
  left: 244px;
  width: 300px;
  height: 350px;
  border-radius: 13px;
  z-index: 2;
  opacity: 0;
  transition: all 0.2s ease;
}

.return-hidden {
  position: absolute;
  background-color: #f86061;
  top: 20px;
  left: 608px;
  width: 300px;
  height: 350px;
  border-radius: 13px;
  z-index: 2;
  opacity: 0;
  transition: all 0.2s ease;
}

.check-hidden {
  position: absolute;
  background-color: #f86061;
  top: 20px;
  left: 975px;
  width: 300px;
  height: 350px;
  border-radius: 13px;
  z-index: 2;
  opacity: 0;
  transition: all 0.2s ease;
}

.ship:hover ~ .ship-hidden {
  opacity: 1;
  top: 20px;
  left: 260px;
  transform: rotate(-5deg);
}
.return:hover ~ .return-hidden {
  opacity: 1;
  top: 20px;
  left: 624px;
  transform: rotate(-5deg);
}
.check:hover ~ .check-hidden {
  opacity: 1;
  top: 20px;
  left: 991px;
  transform: rotate(-5deg);
}

.ship span img {
  color: #f86061;
  height: 60px;
}

/* return */
.return span img {
  color: #f86061;
  height: 60px;
}

/* check */
.check span img {
  color: #f86061;
  height: 60px;
}

/* all transport */
.ship h3,
.return h3,
.check h3 {
  font-family: poppins;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #2e2e2e;
  margin: 53px 0 15px 0;
}

.ship p,
.return p,
.check p {
  font-family: poppinlight;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #676767;
  max-width: 90%;
  margin: 0 auto;
}
/* ----------end info-two ----------*/

/* ---------- info-three ----------*/
.info-three {
  padding: 50px 0;
  margin: 0 113.5px;
  display: flex;
  justify-content: center;
}

.info-three .image img {
  width: 743px;
}

.info-three .content {
  width: 550px;
  padding-left: 25px;
  text-align: left;
}

.info-three .content h5 {
  font-family: poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #03a66b;
  text-transform: uppercase;
  margin: 180px 0 8px 0;
}

.info-three .content h2 {
  font-family: poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: #2e2e2e;
  max-width: 75%;
  margin: 0 0 22px 0;
}

.info-three .content p {
  font-family: poppinlight;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  max-width: 70%;
}

.info-three .content .btn-now {
  background-color: #f86061;
  width: 200px;
  padding: 25px 20px;
  border: 1px solid #f86061;
  border-radius: 12px;
  margin: 50px 0 20px 0;
  font-family: poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.info-three .content .btn-now a {
  color: #fffafa;
  text-decoration: none;
}

.info-three .content .btn-now:hover {
  background-color: #fff;
}

.info-three .content .btn-now:hover a {
  color: #f86061;
}

/* -- ----------end info-three ---------- - */

/* -- ----------info-four ---------- - */
.info-four {
  padding: 40px 0;
  margin: 0 113.5px;
  display: flex;
  justify-content: center;
}

.info-four h5 {
  font-family: poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #f9ba45;
  margin: 0 0 8px 0;
}

.info-four h2 {
  font-family: poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: var(--color2);
  max-width: 90%;
  margin: 0 0 22px 0;
}

.info-four p {
  font-family: poppinlight;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  max-width: 85%;
}

.info-four .content {
  width: 633px;
  padding-top: 200px;
  margin-right: 60px;
}

.info-four .content .btn-now {
  background-color: #f86061;
  width: 200px;
  padding: 25px 20px;
  border: 1px solid #f86061;
  border-radius: 12px;
  margin: 50px 0 20px 0;
  font-family: poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.info-four .content .btn-now a {
  color: #fffafa;
  text-decoration: none;
}

.info-four .content .btn-now:hover {
  background-color: #fff;
}

.info-four .content .btn-now:hover a {
  color: #f86061;
}

/* image */
.info-four .image img {
  width: 633px;
}

/* -- ----------end info-four ---------- - */

/* -- ----------info-five ---------- - */
.info-five {
  background-color: #fef5f5;
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.info-five .image {
  width: 290px;
  margin-left: 170px;
  margin-right: 200px;
}

.info-five .content {
  width: 630px;
}

.info-five h5 {
  font-family: poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #f54748;
  margin: 80px 0 8px 0;
}

.info-five h2 {
  font-family: poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: #2e2e2e;
  max-width: 80%;
  margin: 0 0 22px 0;
}

.info-five p {
  font-family: poppinlight;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  max-width: 80%;
  color: #676767;
}

.info-five .contact {
  margin-top: 80px;
  display: flex;
  text-align: left;
}

.info-five .contact a {
  text-decoration: none;
}

.ip-store {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  font-family: poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #2e2e2e;
  padding: 18px 2px;
  border: 1px solid #eedcdc;
  margin-right: 15px;
  box-sizing: border-box;
  border-radius: 12px;
}

.play-store {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  font-family: poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #2e2e2e;
  padding: 18px 2px;
  border: 1px solid #eedcdc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 12px;
}

/* <!-- ----------end info-five ---------- --> */

/* <!-- ---------- footer ---------- --> */
.footer {
  height: 390px;
  padding: 50px 112px 0;
  display: flex;
  justify-content: center;
}

.footer .info {
  width: 100%;
  height: 310px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .info .foot-logo p {
  font-family: poppinlight;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #676767;
  max-width: 100%;
  margin: 25px 20px 10px 0;
}

/* footer company */

.foot-company {
  padding: 20px 13.5px 0;
}
.footer .info .foot-company h4 {
  font-family: poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #2e2e2e;
}

.footer .info .foot-company ul {
  margin-top: 30px;
  list-style: none;
}
.footer .info .foot-company ul li a {
  text-decoration: none;
  font-family: poppinlight;
  font-weight: 300;
  font-size: 16px;
  line-height: 40px;
  color: #676767;
}

.footer .info .foot-company ul li a:hover {
  color: black;
}

/* footer services */

.foot-services {
  padding: 20px 13.5px 0;
}
.footer .info .foot-services h4 {
  font-family: poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #2e2e2e;
}

.footer .info .foot-services ul {
  margin-top: 30px;
  list-style: none;
}
.footer .info .foot-services ul li a {
  text-decoration: none;
  font-family: poppinlight;
  font-weight: 300;
  font-size: 16px;
  line-height: 40px;
  color: #676767;
}

.footer .info .foot-services ul li a:hover {
  color: black;
}

/* foot contact */
.foot-contact {
  padding: 20px 0 0;
}
.foot-contact h4 {
  font-family: poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #2e2e2e;
}

.foot-contact p {
  font-family: poppinlight;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #888888;
  margin: 25px 20px 10px 0;
}

/* end */
.end {
  display: block;
  width: 87%;
  height: 85px;
  padding-bottom: 30px;
  border-top: 1px solid #f4f1f1;
  margin: 0 110px 0 80px;
  font-family: poppinlight;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  position: relative;
}

.end .note {
  font-family: poppinlight;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
  position: absolute;
  bottom: 30px;
}

.end .info-end {
  display: flex;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 30px;
}

.end a {
  text-decoration: none;
  font-family: poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #747474;
  margin: 0 10px;
  display: block;
}
.end a:hover {
  color: black;
}

@media only screen and (max-width: 1199px) {
  .info-one .content .content-title {
    font-size: 26px;
  }
  .info-one .image img {
    width: 500px;
  }

  .navigations {
    margin: 0 40px;
  }
  .info-one .content .content-para {
    font-size: 16px;
  }
  .info-one .content .content-bot .btn-now {
    width: 160px;
  }

  .info-one .content .content-bot .btn-process {
    width: 180px;
  }

  .info-two .heading h2 {
    font-size: 32px;
    max-width: 100%;
  }
  .ship h3,
  .return h3,
  .check h3 {
    font-size: 18px;
  }

  .info-three .image img {
    width: 600px;
  }

  .info-three .content h5,
  .info-three .content h2,
  .info-three .content p {
    max-width: 100%;
  }
  .info-three .content .btn-now {
    padding: 20px 20px;
  }
  .info-four .image img {
    width: 450px;
  }

  .info-four h2,
  .info-four p {
    max-width: 100%;
  }
  .info-four .content .btn-now {
    padding: 20px;
  }
  .info-five h2 {
    font-size: 32px;
  }
  .info-five p {
    font-size: 16px;
  }

  .info-five .contact a {
    margin: 0;
  }
  .info-five .image {
    margin: 0 150px;
  }

  /* hidden */
  .ship-hidden {
    position: absolute;
    background-color: #f86061;
    top: 20px;
    left: 83px;
    width: 300px;
    height: 350px;
    border-radius: 13px;
    z-index: 2;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .return-hidden {
    position: absolute;
    background-color: #f86061;
    top: 20px;
    left: 447px;
    width: 300px;
    height: 350px;
    border-radius: 13px;
    z-index: 2;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .check-hidden {
    position: absolute;
    background-color: #f86061;
    top: 20px;
    left: 817px;
    width: 300px;
    height: 350px;
    border-radius: 13px;
    z-index: 2;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .ship:hover ~ .ship-hidden {
    opacity: 1;
    top: 20px;
    left: 98px;
    transform: rotate(-5deg);
  }
  .return:hover ~ .return-hidden {
    opacity: 1;
    top: 20px;
    left: 462px;
    transform: rotate(-5deg);
  }
  .check:hover ~ .check-hidden {
    opacity: 1;
    top: 20px;
    left: 832px;
    transform: rotate(-5deg);
  }
}

@media only screen and (max-width: 991px) {
  .container {
    display: none;
  }

  .header label {
    display: flex;
  }

  .box-hidden {
    display: block;
  }

  .info-one {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-one .content {
    width: 100%;
  }

  .info-one .image img {
    width: 100%;
  }

  .transport div {
    width: 200px;
  }

  .info-three {
    display: flex;
    flex-direction: column;
  }

  .info-three .image img {
    width: 100%;
  }

  .info-three .image img {
    width: 100%;
  }

  .info-three .content .btn-now {
    width: 180px;
  }

  /* hidden */
  .ship-hidden {
    position: absolute;
    background-color: #f86061;
    top: 20px;
    left: 130px;
    width: 200px;
    height: 330px;
    border-radius: 13px;
    z-index: 0;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .return-hidden {
    position: absolute;
    background-color: #f86061;
    top: 20px;
    left: 395px;
    width: 200px;
    height: 330px;
    border-radius: 13px;
    z-index: 0;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .check-hidden {
    position: absolute;
    background-color: #f86061;
    top: 20px;
    left: 660px;
    width: 200px;
    height: 330px;
    border-radius: 13px;
    z-index: 0;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .ship:hover ~ .ship-hidden {
    opacity: 1;
    top: 20px;
    left: 140px;
    transform: rotate(-3deg);
  }
  .return:hover ~ .return-hidden {
    opacity: 1;
    top: 20px;
    left: 405px;
    transform: rotate(-3deg);
  }
  .check:hover ~ .check-hidden {
    opacity: 1;
    top: 20px;
    left: 670px;
    transform: rotate(-3deg);
  }

  .info-four {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-four .content {
    padding-top: 80px;
  }
  .info-four .image img {
    width: 100%;
  }
  .info-four .content .btn-now {
    width: 180px;
  }

  .info-five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-five .contact a {
    width: 200px;
    height: 70px;
    margin-right: 50px;
  }

  .footer {
    height: auto;
  }

  .footer .info {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .info .foot-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .foot-company,
  .foot-services,
  .foot-contact {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .info-two {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-two .transport {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-two .transport .ship,
  .info-two .transport .return,
  .info-two .transport .check {
    width: 512px;
    height: 260px;
    padding: 0;
    margin: 0;
  }

  .info-two .transport .ship-hidden,
  .info-two .transport .return-hidden,
  .info-two .transport .check-hidden {
    display: none;
  }
}
