html {
  font-family: san;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: san;
  src: url(./fonts/static/OpenSans-Light.ttf);
}

.tools {
  display: flex;
  width: 80%;
  height: 60px;
  border: 1px solid rgb(211, 211, 211);
  margin: 40px 0 0 10%;
  position: relative;
}

/*  tạo border và các thuộc tính khác */
.home,
.about-us,
.news,
.portfolio,
.blog {
  color: grey;
  height: 60px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 1px solid rgb(211, 211, 211);
  align-items: center;
  line-height: 60px;
}

.contact {
  color: grey;

  height: 60px;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid rgb(211, 211, 211);
  border-right: 0;
  position: absolute;
  right: 0;
  text-align: center;
  line-height: 60px;
}

label {
  padding: 15px 20px;
}

/* CSS icon */

.icon:not(:nth-child(1)) {
  color: #666;
  padding-right: 5px;
}

.ic-down {
  color: #666;
  font-size: 10px;
}
.ic-check {
  color: grey;
  font-size: 10px;
  margin-right: 10px;
}

/* ------box ẩn------ */

/* cha của box ẩn */
.about-us,
.news,
.portfolio {
  position: relative;
}
/* CSS box ẩn */
.box-hidden-about,
.box-hidden-news,
.box-hidden-portfolio {
  width: 200px;
  background-color: #fff;
  position: absolute;
  bottom: -160px;
  left: 0;
  box-shadow: 0 0 10px 5px rgba(194, 194, 194, 0.5);
  display: none;
}

.box > div:not(:nth-child(4)) {
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 10px 0 0 30px;
  font-size: 13px;
  text-align: left;
  height: 40px;
  line-height: 30px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -5px;
  left: 20px;
}

/* CSS hover, focus */

/* hover các div */
.home:hover,
.blog:hover,
.contact:hover,
.about-us:hover > .tool,
.news:hover > .tool,
.portfolio:hover > .tool,
.about-us:hover .tool .ic-down,
.news:hover .tool .ic-down,
.portfolio:hover .tool .ic-down {
  color: #fff;
  background-color: #2da5da;
}

input[id="us"]:checked ~ .tool,
input[id="news"]:checked ~ .tool,
input[id="portfolio"]:checked ~ .tool,
input[id="us"]:checked ~ .tool .ic-down,
input[id="news"]:checked ~ .tool .ic-down,
input[id="portfolio"]:checked ~ .tool .ic-down {
  color: #fff;
  background-color: #2da5da;
}

/* hiện box ẩn */
input[id="us"]:checked ~ .box-hidden-about,
input[id="news"]:checked ~ .box-hidden-news,
input[id="portfolio"]:checked ~ .box-hidden-portfolio {
  display: block;
}
