    body {
        margin: 20px 30px;
        font-family: body;
        font-weight: 700;
        box-sizing: border-box;
    }

    /* --------Tạo font cho tiêu đề ------*/
    @font-face {
        font-family: heading;
        src: url(../fonts/Lobster-Regular.ttf);
    }

    @font-face {
        font-family: body;
        src: url(../fonts/Lato-Light.ttf);
    }

    .heading h1 {
        font-family: heading;
        font-weight: 400;
    }


    /* -------tạo định dạng cho 1 dòng form -------*/
    .row,
    .row-2,
    .row-3 {
        width: 30%;
        position: relative;
    }

    .icon-first {
        text-align: center;
        color: #fff;
        background-color: rgb(196, 196, 196);
        width: 20px;
        padding: 9px;
        border: 2px solid rgb(196, 196, 196);
        position: absolute;
        top: 0;
        left: 0;
    }

    .input-name {
        padding: 11px 0 11px 45px;
        width: 75%;
        border: 2px solid rgb(196, 196, 196);
        position: absolute;
    }

    .input-name::placeholder {
        color: rgb(196, 196, 196);
    }

    .icon-last {
        text-align: center;
        color: rgb(196, 196, 196);
        font-size: 10px;
        width: 20px;
        padding: 10px;
        position: absolute;
        top: 3px;
        right: 62px;
    }

    .icon-x {
        text-align: center;
        color: rgb(196, 196, 196);
        font-size: 10px;
        width: 20px;
        padding: 10px;
        position: absolute;
        top: 3px;
        right: 62px;
        display: none;
    }

    /* ---tạo tab ẩn --- */
    .box-message {
        box-sizing: border-box;
        color: #fff;
        width: 120px;
        background-color: black;
        position: absolute;
        top: -45px;
        left: 20px;
        display: none;

    }

    .box-message .box {
        font-size: 12px;
        padding: 10px;
        text-align: center;
    }

    .triangle {
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 10px solid rgb(0, 0, 0);
        position: absolute;
        bottom: -9px;
        left: 20px;

    }

    /* focus và active row */
    .input-name:active,
    .input-name:focus {
        border: black;
    }

    .input-name:active~.icon-first,
    .input-name:focus~.icon-first {
        border: black;
        background-color: black;
    }

    .input-name:active~.icon-last,
    .input-name:focus~.icon-last {
        display: none;
    }

    .input-name:active~.box-message,
    .input-name:focus~.box-message,
    .input-name:active~.icon-x,
    .input-name:focus~.icon-x {
        display: block;
    }