* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

@font-face {
  font-family: Asap;
  src: url(../fonts/Asap_Condensed-Light.ttf);
}

body {
  font-family: Asap;
  width: 100%;
  background-color: rgba(125, 125, 125, 0.356);
  background-image: url("https://ircdn.vingroup.net/storage/public/2019/07/DJI_0038-(fixed2)-banner-20190727T100420091234.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}
.box {
  height: 485px;
  background-color: rgba(0, 0, 0, 0.349);
}

.box-child {
  width: 1000px;
  position: relative;
  left: 80px;
  bottom: -305px;
}
.image-logo {
  display: inline-block;
  width: 250px;
  height: 180px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

.image-logo img {
  width: 150px;
  position: relative;
  bottom: -60px;
}

.information {
  color: #fff;
  width: 400px;
  margin-left: 20px;
  position: relative;
  top: 20px;
  display: inline-block;
}

.name-gr {
  font-weight: bold;
  margin-bottom: 20px;
  font-weight: 900;
  word-spacing: 7px;
}

.infor {
  display: inline-block;
  margin-right: 30px;
  font-weight: 550;
}

.big-num {
  font-size: 23px;
  font-weight: 600;
}

/* footer */
.foot {
  width: 100%;
  height: 60px;
  background-color: #fff;
  align-items: center;
  position: relative;
}

.other-info {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  padding: 14px 0;
  border-bottom: 4px solid #fff;
  margin: 0 10px;
}
.foot-child {
  float: right;
}

.other-info:nth-child(3) {
  margin-right: 40px;
}

.other-info:hover,
.other-info:focus {
  color: #bf4240;
  border-bottom: 4px solid #bf4240;
}
