* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Asap;
  src: url(../fonts/Asap_Condensed-Light.ttf);
}

body {
  font-family: Asap;
  padding: 20px 30px;
  margin: 0 12%;
}

/* CSS city */
.heads {
  margin-bottom: 10px;
}

.city-name {
  background-color: rgb(236, 235, 235);
  text-align: center;
  display: inline-block;
  padding: 5px 15px;
  border: none;
  border-radius: 25px;
  margin: 10px 10px 10px 0;
}

.city-name:hover {
  background-color: burlywood;
}

.city-name h4 {
  padding-bottom: 5px;
}

.product-num {
  font-size: 12px;
}

/* CSS vị trí */
.img-location {
  color: #fff;
  width: 330px;
  height: 200px;
  /* background-image: url("https://toquoc.mediacdn.vn/zoom/320_200/280518851207290880/2021/10/12/photo-1634007884830-16340078849401809637435-0-0-259-414-crop-1634007907894970947966.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin: 15px 15px 15px 0;
  display: inline-block;
  position: relative;
}
.opa {
  background-color: rgba(0, 0, 0, 0.336);
  width: 330px;
  height: 200px;
}

.location-name {
  position: absolute;
  top: 20px;
  left: 20px;
}

.location-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* CSS ảnh nền */
.one {
  background-image: url("https://toquoc.mediacdn.vn/zoom/320_200/280518851207290880/2021/10/12/photo-1634007884830-16340078849401809637435-0-0-259-414-crop-1634007907894970947966.jpg");
}

.two {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Nakanoshima_Skyscrapers_in_201407_001.jpg/1280px-Nakanoshima_Skyscrapers_in_201407_001.jpg");
}

.three {
  background-image: url("https://bxdgate.baoxaydung.com.vn/stores/news_dataimages/2023/072023/17/11/image00120230717113416.jpg?rt=20230717113419");
}

.four {
  background-image: url("https://bcp.cdnchinhphu.vn/334894974524682240/2023/5/27/bds-1685181162900267687478.png");
}

.five {
  background-image: url("https://vtv1.mediacdn.vn/562122370168008704/2023/4/21/bat-dong-san-nam-2023-16720300278941145561753-1682081155856525345320.jpg");
}

.six {
  background-image: url("https://bcp.cdnchinhphu.vn/zoom/320_200/334894974524682240/2023/8/3/img-20230803-222557-16910780294521398188963-0-0-870-1392-crop-16910780333731470316021.jpg");
}
